.wrapper{
    /* background: #00756A; */
    /* padding-top: 20px; */
    border-top: 1px solid #E4E4E4;
}

.bottomFooter{
    padding: 20px 0;
}

.bottomFooter img{
    height: 38px;
    margin: 0 5px;
}

.copyRightText{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #393939;
}

.signupWrapper{
    margin: 50px 0;
}

.fieldWrapper input{
    height: 44px;
    width: 40vw;
    border: none;
    /* background: #F9F9F9; */
    background: #1ca093;
    border-radius: 19px;
    color: #FFFFFF;
    padding: 0 10px;
}

.fieldWrapper textarea{
    height: 140px;
    width: 40vw;
    border: none;
    color: #FFFFFF;
    background: #1ca093;
    border-radius: 19px;
    padding: 10px;
}

.halfField input{
    width: 19vw;
}

.fieldWrapper h6{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.signupWrapper span{
    color: #FFA99D;
}

.fieldWrapper{
    margin: 20px 0;
}

.signupButton{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
    background: #FFA99D;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 1000px;
    border: none;
    width: 200px;
    margin-top: 40px;
}

.signupWrapper h3{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 63px;
    text-align: center;
    color: #FFFFFF;
}

