.wrapper{
    /* height: 400px; */
    background: url("/images/banner-image.jpg");
    /* Set a specific height */
  height: 780px;

  /* Create the parallax scrolling effect */
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.approachCard{
    background: rgba(0, 0, 0, 0.47); 
     height: 100%;
     width: 100%;
} 

.approachCard p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.approachCard h2{
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
}

.approachCard span{
    font-weight: 700;
    color: #00756A;
}