.wrapper{
    height: 400px;
    background: url("/images/banner-image.png");
    background-repeat:no-repeat;
    /* background-position: center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}