.wrapper{
    height: 790px;
    padding-top: 80px;
    width: 100%;
}

.heroImage{
     background: url("/images/ibs-hero-image.jpeg");
     background-repeat:no-repeat;
     background-position: 40% 5%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.wrapper h2{
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 69px;
    color: #393939;
    /* text-shadow: 2px 2px 4px #000000; */
}

.discoverButton{
    font-style: normal;
    font-weight:500;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    background: #00756A;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    padding: 8px 25px;
    width: fit-content;
}

