.wrapper{
    height: 600px;
    padding-top: 60px;
}

.heroImage{
     background: url("/images/ibs-hero-image.jpeg");
     background-repeat:no-repeat;
     background-position: 50% 50%;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.wrapper h2{
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    text-align: center;
    color: #000000;
    /* text-shadow: 2px 2px 4px #000000; */
}

.discoverButton{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    background: #00756A;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    padding: 2px 25px;
}

