.wrapper {
    padding: 60px 0;
    background: #F9F9F9;
}

.introTextWrapper{
    border-right: 1px solid #C5BEBE;
    width: 600px;
}

.introTextWrapper img{
    width: 70%;
}

.introText, .wrapper  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 41px;
    color: #000000;
}

.wrapper  h2{
    line-height: 43px;
}

.descWrapper{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.1em;
    color: #000000;
    padding-left: 100px;
}