.wrapper{
  /* box-shadow: 5px 1px 1px rgba(0, 0, 0, 0.25); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 1000;
}

.brandWrapper img{
  height: 45px;
}

.brandWrapper .logoText{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #00756A;
  margin-left: 10px;
}

.navList a{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #393939;
  padding: 0px !important;
  margin: 0 20px;
}

.joinButton, .bookButton{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  background: #00756A;
  border-radius: 100px;
  padding: 5px 20px;
  border: 2px solid #00756A;
  margin: 0 5px;
}

.bookButton{
  color: #00756A;
  background: none;
  border: 2px solid #00756A;
}

.navList a.active{
  border-bottom: 3px solid #000000;
  color: #000000;
}